@media (min-width: 750px) {
    
    header.header{ 
        width: 100%;
    }

    .active {
        background-color: #EB6C27;
        color: white;
        font-weight: 700;
    }

    .reference__item {
        position: relative;
        transition: background-position 1s;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        transition: .5s ease;
        background-color: rgba(235, 108, 39, 0.85);
      }

    .reference__item:hover .overlay {
        z-index: 1;
      }
      
    .overlay__text--h3 {
        color: white;
        font-size: 2.5em;
        font-weight: 700;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 35%;
        left: 0;
        right: 0;
        text-align: center;
    }

    .overlay__text--p {
        color: white;
        font-size: 1em;
        font-weight: 300;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
    }

    .confidence {
        min-height: 10vh;
    }

    .services__item--header {
        margin: 5em 1.5em;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
    
    }
    .services__item--header {
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: 2em;
    }

    .services {
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: 1fr 1fr;
    }
    
    .services__item--image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 15em;
    }

    .grid__right {
        grid-column-start: 2;
        
    }

    .grid__left {
        grid-column-start: 1;
    }


    .reference {
        margin-top: 5em;
        margin-bottom: 5em;
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .confidence__content {
        min-height: 10em;
        padding-left: 2em;
        padding-top: 2em;
    }

     .reference .reference__item--header p {
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .reference .reference__item--header h2 {
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        font-size: 3em;
        text-align: center;
    }

    .reference__item--header {
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .reference .button {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .page_header.page_header--big {
        min-height: 45vh;
    }
    
    .page_header__title {
        font-size: 4em;
    }
    .page_header__title--description {
        font-size: 2em;
    }

    footer h2 {
        font-size: 3em;
    }

    .page_header .button {
        display: block;
    }

    .gallery__grid {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }

    .gallery {
        margin-left: 1em;
        margin-right: 1em;
    }

    .gallery__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery {
        margin-bottom: 10em;
        text-align: center;
    }    
}


@media (min-width: 1150px) { 
    .services__item--image {
        min-height: 20em;
    }

    .button--hover:hover {
        background-color: #ce591a;
        color: white;
    }

    .gallery__grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

@media (min-width: 1600px) { 
    header.header{ 
        position: absolute;
        background-color: white;
        width: unset;
        top: 3%;
        left: 10%;
        right: 10%;
    }

    .confidence {
        min-height: 25vh;
    }
    .confidence__content {
        margin-top: 3em;
    }

    .page_header__title {
        font-size: 7em;
    }

    .page_header__title--description{
        font-size: 3em;
    }

    .page_header.page_header.page_header--big {
        min-height: 100vh;
    }
}