
@media screen and (max-width: 1024px) {

    .content__desktop {
        display: none;
    }
    .content__mobile {
        display: block;
    }

    .navigation__menu {
        display: none;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 112px;
        left: 0.75em;
        right: 0.75em;
        background-color: #EB6C27;
        height: 310px;
        font-size: 1em;
        padding-top: 20px;
    }

    .navigation__hamburger {
        display: block;
    }

    .navigation__menu .menu__item{
        margin-top: 1.5em;
    }

    .navigation__menu .menu__item:first-child{
        margin-top: 0;
    }
    
    .navigation__menu .menu__item a {
        padding: 10px 30px;
        color: white;
        font-size: 1.5em;
        text-decoration: underline;
        text-decoration-thickness: 1px;
    }

    .navigation__menu .menu__item a.active {
        font-weight: 700;
    }

    .hamburger__hamburger-description {
        display: block;
    }
}



@media (min-width: 768px) {

    .gallery__content .content__grid img{
        object-fit: cover;
        height: 100%;
        display: block;
    }

    .grid__item--big-washing img {
        max-height: 240px;
        object-position: left;
    }

    .gallery__content .content__grid {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery {
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 10em;
        text-align: center;
    }


    .grid__map {
        position: relative;
        transition: background-position 1s;
    }

    .content__description--centered {
        text-align: center;
        margin-bottom: 7em;
    }

    .content__list {
        margin-left: 5em;
    }
    
    
    .content__title {
        font-size: 3em;
        margin-bottom: 1.5em;
        text-align: center;
    }

    .services__item--header {
        margin: 5em 0em;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: 1.5em;
    }

    .item__link {
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }

    .services__item::before{
        min-height: 25vh;
    }

    .confidence__content {
        min-height: 10em;
        padding-left: 2em;
        padding-top: 2em;
    }

    .button--hover-main:hover {
        background-color: var(--main);
    }

    .button--hover-main:hover a {
        color: var(--white);
    }

    .button--hover-darkmain:hover {
        background-color: var(--darkmain);
    }

    .button--hover-darkmain:hover a {
        color: var(--white);
    }

    .page-header__title {
        font-size: 3em;
    }

    .page-header__button {
        display: block;
        margin-bottom: 2em;
    }

    .page-header {
        min-height: 85vh;
        background-image:
        linear-gradient(to bottom, rgba(36, 36, 36, 0.50), rgba(36, 36, 36, 0.70)),
        url(../images/pageheader/pageheader-1920w.jpg);
    }

    .references {
        margin-bottom: 8em;
    }

    .footer {
        margin-bottom: 0.5em;
    }

    .footer__title {
        margin-top: 1em;
    }

}


@media screen and (min-width: 901px) {
    .menu__arrow {
        display: none;
    }

    .page-header.page-header--img-none {
        display: block;
        min-height: 20vh;
        background-position: center center;
    }

    .page-header.page-header--img-none .page-header__title, .page-header.page-header--img-none .page-header__button{
        display: none;
    }

    
.grid__item--big {
    grid-row-end: span 3;
}


.grid__item--big-washing {
    grid-row-end: span 1;
    grid-row-start: 2;
    grid-column-start: 2;
}

.grid__item--big-washing img {
    max-height: 290px;
    object-position: left;
}

}



@media (min-width: 1150px) { 
    .services__item {
        gap: 5em;
        flex-direction: row;
    }

    .services__item:nth-child(odd)::before{
        order: 2;
    }

    .services__item::before {
        flex: 1;
        min-height: 30vh;
        background-position: center;
    }
    .item__flex {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    

    .gallery__content .content__grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .map__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: all 1s;
        background-color: rgba(235, 108, 39, 0.75);
      }

    .grid__map:hover .map__overlay {
        opacity: 1;
    }

    .contact .content__grid {
        margin-top: 8em;
        display: grid;
        align-items: center;
        grid-template-columns: 10em 0.5fr 1fr;
        grid-template-areas:
        ". contacts map"
        ". form . ";
        gap: 4em;
    }


    .content__list {
        margin-left: 6em;
    }

    .link__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        opacity: 0;
        transition: all 1s;
        background-color: rgba(235, 108, 39, 0.85);
      }

    .overlay__title {
        color: white;
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: 700;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 35%;
        left: 0;
        right: 0;
        text-align: center;
    }

    .overlay__description {
        color: white;
        font-size: 1em;
        font-weight: 300;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 55%;
        left: 0;
        right: 0;
        text-align: center;
    }

    .page-header__title {
        font-size: 4em;
    }

    .page-header {
        background-image:
        linear-gradient(to bottom, rgba(36, 36, 36, 0.50), rgba(36, 36, 36, 0.70)),
        url(../images/pageheader/pageheader-3100w.jpg);
    }

    .references__item {
        position: relative;
        transition: background-position 1s;
    }

    .references {
        margin-top: 5em;
        margin-bottom: 12em;
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .references__item--header {
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .references .references__item--header .item__description {
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .references .references__item--header .item__title {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        font-size: 4em;
        text-align: center;
    }

    .references__item {
        position: relative;
        transition: background-position 1s;
    }

    .references__item:hover .link__overlay {
        opacity: 1;
    }

    .references .button {
        grid-column-start: 2;
        grid-column-end: 3;
    }

}

@media (min-width: 1440px) { 
    .newbuildings .content__description {
        margin-right: 25vw;
    }
    .footer__title {
        font-size: 3em;
        margin-bottom: 0.5em;
        margin-top: 1em;
    }

    .footer__button {
        margin-bottom: 1em;
    }

    .services__item--header {
        letter-spacing: 1px;
    }
    .services__item .item__title{
        font-size: 2em;
    }

    .confidence {
        min-height: 40vh;
        font-size: 2em;
        line-height: 15px;
    } 

    .page-header__title {
        font-size: 6em;
    }

    .confidence__content {
        margin-left: 2em;
    }


    .content__title {
        font-size: 4em;
    }

    .form__title {
        font-size: 2em;
    }

}

@media (min-width: 1350px) {
    .navigation {
        max-width: 1550px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: 3%;
    }
    .page-header {
        min-height: 97vh;
    }
}