@media screen and (max-width: 992px) {
    .hamburger, .toggle-menu {
        display: block;
    }

    .header {
        padding: 10px 20px;
    }
    .menu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 110px;
        right: -100vw;
        background-color: #EB6C27;
        width: 100vw;
        height: 350px;
        font-size: 1.1em;
        padding-top: 20px;
    }

    .menu li{
        width: 100%;
        margin-top: 1.5em;
    }

    .menu li:first-child{
        margin-top: 0;
    }
    .menu li a {
        padding: 30px;
        color: white;
        text-decoration: underline;
        text-decoration-thickness: 1px;
    }

    .menu li a.active {
        font-weight: 700;
    }

    .menu li {
        width: 100%;
    }

    .menu li a {
        padding: 30px;
        font-size: 1.5em;
    }
}