/*
@media (max-width: 675px) {

    nav .nav-list {
        display: grid;
        position: absolute;
        width: 100%;
        top: 75px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: .6s;
    }

    nav .nav-list .nav-item {
        padding-left: 35px;
    }

    nav .navbar-toggler {
        display: grid ;
    }

}
*/